<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer confirmation</title>
</head>
<body>
The customer is confirmed: <span th:text="${customer.firstName + ' ' + customer.lastName}"/>
<br><br>
<div th:if="${customer.freePasses != null}">
    The customer has <span th:text="${customer.freePasses}"/> free passes
</div>
<br><br>
<div th:if="${customer.postalCode != null}">
    The customer's postal code is <span th:text="${customer.postalCode}"/>
</div>
<br><br>
<div th:if="${customer.courseCode != null}">
    The customer's course code is <span th:text="${customer.courseCode}"/>
</div>
</body>
</html>